{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2 class="text-center font-weight-bold mb-4">Join Today</h2>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="font-weight-bold form-group wow fadeInLeft">
                {{ form|crispy }}
            </fieldset>
            <div class="text-center form-group">
                <button class="btn btn-info btn-md wow fadeInUp" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="font-weight-bold ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
