{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <h2 class="text-center font-weight-bold my-4">Delete Post</h2>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="black-text text-center font-weight-bold form-group mt-4">
                <p>Are you sure you want to <span class="red-text">delete</span> "{{ object.title }}"?</p>
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-danger btn-md" type="submit">Delete</button>
                <button class="btn btn-border btn-md font-weight-bold" href="{% url 'post-detail' object.id %}">Cancel</button>
            </div>
        </form>
    </div>
{% endblock content %}
