{% extends 'blog/base.html' %}
{% block content %}
    <div class="row mx-0">
        <div class="col-md-8 mb-4">
            <!--Card-->
            <div class="card wow fadeIn">
                <!--Card content-->
                <div class="card-body">
                    <div>
                        <h1 style="text-transform: capitalize; color: rgb(0, 119, 255);" class="font-weight-bold">{{ object.title }}</h1>
                        <small class="text-muted">by <span style="text-transform: capitalize;">{{ object.author }}</span> on {{ object.date|date:"F d, Y" }}</small>
    
                        <blockquote class="blockquote">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
    
                        <p>{{ object.content }}</p>
                        {% if object.author == user %}
                        <div class="text-center mt-4">
                            <a class="mr-5" href="{% url 'post-update' object.id %}">Update</a>
                            <a class="" href="{% url 'post-delete' object.id %}">Delete</a>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
            <!--/.Card-->
        </div>

        <!--Grid column-->
        <div class="col-md-4">
            <!--Card : Dynamic content wrapper-->
            <div class="card text-center wow fadeIn">
                <div class="card-header">Do you want to get informed about new articles?</div>
                <!--Card content-->
                <div class="card-body">
                    <!-- Default form login -->
                    <form>
                        <!-- Default input email -->
                        <label for="defaultFormEmailEx" class="grey-text">Your email</label>
                        <input type="email" id="defaultFormLoginEmailEx" class="form-control">
                        <br>
                        <!-- Default input password -->
                        <label for="defaultFormNameEx" class="grey-text">Your name</label>
                        <input type="text" id="defaultFormNameEx" class="form-control">

                        <div class="text-center mt-4">
                        <button class="btn btn-info btn-md" type="submit">Sign up</button>
                        </div>
                    </form>
                    <!-- Default form login -->
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>

    <div class="col-md-8">
        <!--Card-->
        <div class="card mb-4 ">
            <div class="card-header">
                <h5 class="font-weight-bold">About author
                    <a href=""><i class="fab fa-facebook-f ml-2 mr-2"></i></a>
                    <a href=""><i class="fab fa-twitter mr-2"></i></a>
                    <a href=""><i class="fab fa-instagram mr-2"></i></a>
                    <a href=""><i class="fab fa-linkedin-in mr-2"></i></a>
                </h5>
            </div>
            <!--Card content-->
            <div class="card-body">
                <div class="media">
                    <img class="article-img" src="{{ object.author.profile.image.url }}">
                    <div class="media-body ">
                        <a class="mt-0 font-weight-bold" href="{% url 'user-posts' object.author.username %}">
                            <stong style="text-transform: capitalize;">{{ object.author }}</stong></a>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque corrupti
                            quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                            similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                            fuga.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Card-->
    </div>

    <div class="col-md-8">
        <!--Comments-->
        <div class="card mb-4 wow fadeIn">
            <div class="card-header font-weight-bold">3 comments</div>
            <div class="card-body">
                <div class="media d-block d-md-flex mt-4">
                    <img class="d-flex mb-3 mx-auto article-img" src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" alt="Generic placeholder image">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="mt-0 font-weight-bold">Miley Steward
                        <a href="" class="pull-right">
                            <i class="fas fa-reply"></i>
                        </a>
                        </h5>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <div class="media d-block d-md-flex mt-3">
                            <img class="d-flex mb-3 mx-auto article-img" src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg"
                                alt="Generic placeholder image">
                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                <h5 class="mt-0 font-weight-bold">Tommy Smith
                                <a href="" class="pull-right">
                                    <i class="fas fa-reply"></i>
                                </a>
                                </h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque
                                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                    sunt explicabo.
                                </p>
                            </div>
                            </div>

                            <!-- Quick Reply -->
                            <div class="form-group mt-4">
                                <label for="quickReplyFormComment">Your comment</label>
                                <textarea class="form-control" id="quickReplyFormComment" rows="5"></textarea>

                                <div class="text-center">
                                    <button class="btn btn-info btn-sm" type="submit">Post</button>
                                </div>
                            </div>

                            <div class="media mt-3">
                                <img class="d-flex mb-3 mx-auto article-img" src="https://mdbootstrap.com/img/Photos/Avatars/img (21).jpg"
                                    alt="Generic placeholder image">
                                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                    <h5 class="mt-0 font-weight-bold">Sylvester the Cat<a href="" class="pull-right"><i class="fas fa-reply"></i></a></h5>
                                    <p>
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                        sed quia non numquam eius modi
                                        tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="media d-block d-md-flex mt-3">
                        <img class="d-flex mb-3 mx-auto article-img" src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image">
                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h5 class="mt-0 font-weight-bold">Caroline Horwitz<a href="" class="pull-right"><i class="fas fa-reply"></i></a></h5>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                deleniti atque corrupti
                                quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                                fuga.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!--/.Comments-->
        </div>
    </div>

    <div class="col-md-8">
        <!--Reply-->
        <div class="card mb-3 wow fadeIn">
            <div class="card-header font-weight-bold">Leave a reply</div>
            <div class="card-body">

                <!-- Default form reply -->
                <form>

                <!-- Comment -->
                <div class="form-group">
                    <label for="replyFormComment">Your comment</label>
                    <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                </div>

                <!-- Name -->
                <label for="replyFormName">Your name</label>
                <input type="email" id="replyFormName" class="form-control">

                <br>

                <!-- Email -->
                <label for="replyFormEmail">Your e-mail</label>
                <input type="email" id="replyFormEmail" class="form-control">


                <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" type="submit">Post</button>
                </div>
                </form>
                <!-- Default form reply -->
            </div>
        </div>
    </div>
{% endblock content %}
